#Profile_image { 
    background-image: url(/images/web_image.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30rem;
    width: 30rem;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    transition: all 1s ease-in-out;
    animation: animt 5s ease-in-out infinite;
  }
  @keyframes animt {
    0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}